body {
    background-color: dimgrey;
    color: white;
}



/* h1 {text-align: center;
    margin-top: -100px;
    font-weight: 600;
    font-size: 100px; */

p {text-align: center;}

.video {
    color: rgb(0, 0, 0); 
    text-align: center; /* Заменил align-items на text-align для выравнивания текста */
    font-size: 30px;
    margin-top: 50px;
}

button {
    background-color: black; 
    color: #f7f7f7; 
    padding: 20px; 
    border: none; 
    border-radius: 30%; 
    font-size: 30px; 
    transition-duration: 0.2s;
    }
    button:hover {
        background-color: rgb(143, 143, 143);
        font-size: 2em;
    }

.box{margin-left: 25px;
margin-top: 50px;
margin-bottom: 50px;
}
.img{margin-left: 550px;}


.text{text-align: center;
    margin-top: 50px;
    }

.textdown{text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    }
 .textdown{text-align: center;
    margin-bottom: 50px;
    }   

 .textdown{text-align: center;
    }   
/* .container {
    margin-left: 870px; 
    width: 100px;
} */
.main{text-align: center;}

.line{margin-top: 100px;}
