body {
    background-color: rgb(42, 42, 42);
    color: white;
}



/* h1 {text-align: center;
    margin-top: -100px;
    font-weight: 600;
    font-size: 100px; */

p {text-align: center;}

.video {
    color: rgb(0, 0, 0); 
    text-align: center; /* Заменил align-items на text-align для выравнивания текста */
    font-size: 30px;
    margin-top: 50px;
}
.video2 {
    color: rgb(0, 0, 0); 
    text-align: center; /* Заменил align-items на text-align для выравнивания текста */
    font-size: 30px;
    margin-top: 50px;}

.video23 {
    color: rgb(0, 0, 0); 
    text-align: center; /* Заменил align-items на text-align для выравнивания текста */
    font-size: 30px;
    margin-top: 50px;}
button {
    background-color: black; 
    color: #f7f7f7; 
    padding: 20px; 
    border: none; 
    border-radius: 30%; 
    font-size: 30px; 
    transition-duration: 0.2s;
    }
    button:hover {
        background-color: rgb(143, 143, 143);
        font-size: 2em;
    }

button2 {
    padding: 20px; 
    border: none; 
    border-radius: 30%; 
    font-size: 30px; 
    transition-duration: 0.2s;}

.box{margin-left: 25px;
margin-top: 50px;
margin-bottom: 50px;
}
.img{margin-left: 550px;}
.zoom-effect { transition: transform 0.2s; } .zoom-effect:hover { transform: scale(1.1); }
.img2{margin-left}

.text{text-align: center;
    margin-top: 50px;
    }

.textdown{text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    }
 .textdown{text-align: center;
    margin-bottom: 50px;
    }   

 .textdown{text-align: center;
    }   
/* .container {
    margin-left: 870px; 
    width: 100px;
} */
.main{text-align: center;}

.line{margin-top: 100px;}

.btline{display: inline-block; margin-left: auto;}

.video2{text-align: center; /* Заменил align-items на text-align для выравнивания текста */
    font-size: 30px;
    margin-top: 50px;}

.nav-item .nav-link {
    color: white;
}
