{% extends "base.html" %}
{% block title %} Lev Petrushansky {%endblock%}
{%block content%}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4" style="color: white;">Медиа</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Новинки</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link">Новости</a></li> -->
            <li class="nav-item"><a href="\" class="nav-link">Назад</a></li>

          </ul>
        </header>
      </div>

    
<div class="text"><h1> Икс Апокалипcис 11 (Часть 2)</h1></div>
    <div class = "img2">
        
        <!-- <button onclick= "alert('oijfohohdfhusdfdgdfsg')">ffdfd</button> -->
        <!-- <button onclick="alert('Читать книгу')">learn more</button> -->
        <div class="img"><a href="https://vkvideo.ru/video-228413450_456239053"><img src="https://i.pinimg.com/736x/06/ce/d6/06ced62fb6d4fddce32311dd7afe6637.jpg" class="zoom-effect" alt="Картинка" /></a></div>

      <div class="text"><h1>Прошлый релиз</h1></div>
      <p>______________________</p>
      <div class = "img2">
        
        <!-- <button onclick= "alert('oijfohohdfhusdfdgdfsg')">ffdfd</button> -->
        <!-- <button onclick="alert('Читать книгу')">learn more</button> -->
        <div class="img"><a href="https://vkvideo.ru/video-228413450_456239051"><img src="https://i.pinimg.com/736x/cd/b0/86/cdb086b723da1d474fa28f48da894c3f.jpg" class="zoom-effect" alt="Картинка" /></a></div>
        <p>______________________</p>
      <div class="line"><P>___________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</P>
  </div>  
      
     <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Приключения Икса:</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary, white-text">Книга</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary, white-text">Персонажи</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary, white-text">Вселенная</a></li>
              </ul>
            </div>
      
            <!-- <div class="col-6 col-md-2 mb-3">
              <h5>Банда навсегда</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Читать</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О персонажах</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Объявления и новости</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О книге</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Отзывы</a></li>
              </ul>
            </div> -->
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Медиа:</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary, white-text">Видео</a></li>
                <li class="nav-item mb-2"><form action="https://t.me/priklucheniyaX" class="nav-link p-0 text-body-secondary, white-text">Персонажи</form></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary, white-text">Названия источников</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary, white-text">Контент</a></li>
                <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li> -->
              </ul>
            </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>Всё перечисленное защищено авторскими правами.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Instagram"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Facebook"><svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>

      
                
{%endblock%}