{% extends "base.html" %}
{% block title %} Lev Petrushansky {%endblock%}
{%block content%}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Икс Апокалипсис</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">О сериале</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Новости</a></li>
            <li class="nav-item"><a href="\" class="nav-link">Назад</a></li>

          </ul>
        </header>
      </div>

    
<div class="text"><h1> Икс Апокалиписис series </h1></div>
<div class="text"><p>________________________________________________</p></div>
    
    <div class="img"> <img src="https://i.pinimg.com/736x/06/ce/d6/06ced62fb6d4fddce32311dd7afe6637.jpg" alt="Cсори, не смогли прогрузить"></div> 
<div class="text"><p>________________________________________________</p></div>   

    <div class = "video">
        
        <!-- <button onclick= "alert('oijfohohdfhusdfdgdfsg')">ffdfd</button> -->
        <!-- <button onclick="alert('Читать книгу')">learn more</button> -->
         
        <form action="https://vkvideo.ru/video-228413450_456239053">
            <button>
               Смотреть
            </button>
      </div>
      <div class="text"><p>Икс Апокалипсис - мини-сериал в стиле Стоп-моушн. Именно здесь Действия не описываются, они показываются!</p>
      <p>|"Вместо настоящей концовки книги "Приключения Икса" команда Икса едет в большой город, где основывает свой штаб и занакомится с тремя енотами - Расом, Риком и Робертом. |</p>
      <p>|Год спустя, на город нападают Антро - бездушные роботы, что во главе с "загадочным", начинают захватывать город, порабощать жителей и уничтожать здания |</p>
      <p>Но смогут ли герои справиться с угрозой и придут ли им на помощь таинственные союзники?</p>
        <p>________________________________________________</p>
    <p>Смотрите уже на VK Video!</p></div>
      <div class="line"><P>___________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</P>
  </div>  
      
    <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Приключения Икса</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Читать</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О персонажах</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Объявления и новости</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О книге</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Отзывы</a></li>
              </ul>
            </div>
      
            <!-- <div class="col-6 col-md-2 mb-3">
              <h5>Банда навсегда</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Читать</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О персонажах</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Объявления и новости</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О книге</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Отзывы</a></li>
              </ul>
            </div> -->
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Об авторе</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Биография</a></li>
                <li class="nav-item mb-2"><form action="https://t.me/priklucheniyaX" class="nav-link p-0 text-body-secondary">Телеграмм </form></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Вконтакте</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Дискорд</a></li>
                <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li> -->
              </ul>
            </div>
      
                
{%endblock%}