{% extends "base.html" %}
{% block title %} Lev Petrushansky {%endblock%}
{%block content%}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Обо мне</span>
          </a>
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Обо мне</a></li>
            <li class="nav-item"><a href="\" class="nav-link">Назад</a></li>
          </ul>
        </header>
      </div>
     <div class="text"><h1>Об Авторе</h1>
    <p>__________</p></div> 
     <div class="img"> <img src="https://avatars.mds.yandex.net/i?id=4c5d2b032c055e1bc690090f1f2e2a09_l-8220915-images-thumbs&ref=rim&n=13&w=900&h=900"> </div> 
     
<div class="text">
  <p>____________________________________________________________________</p>
  <p>Родился в городе Ярославле.</p>
<p>Окончил Ярославскую вальдорфскую школу, начал же писать прозу в 4 класе.</p>
<p>Книга "Приключения Икса" стала моим первым масштабным литературным проектом. После двух лет трудов в школьной тетради проект наконец получил окончательную версия в виде файла на компьютере.</p>
<p>На данный момент автор активно пишет "Приключения Икса 2" и совершенно новую книгу "Банда Навсегда".</p>
<p>____________________________________________________________________</p></div>

<div class="text"><h1>Cоциальные сети</h1>
<p>__________</p></div>

 <div class = "video">
        
        <!-- <button onclick= "alert('oijfohohdfhusdfdgdfsg')">ffdfd</button> -->
        <!-- <button onclick="alert('Читать книгу')">learn more</button> -->
         
        <form action="https://t.me/priklucheniyaX">
            <button>
               Telegram
            </button>
      </div>
      <div></div>
      <div class="text">_____________</div>

    <div class = "video">
       
         
        <form action="https://vk.com/club228413450">
            <button>
               Вконтакте
            </button>
     </div>
      <div class="text">_____________</div>

      <div class="text"><h1>Связь с автором</h1></div>
      <div class = "video">
       
         <div class="video"> <form action="@Creator_writer_volk">
          <button>Telegram</button>
        </form></div>
       

   <div class="line"><P>___________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</P>
  </div>  
   
    <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Приключения Икса</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Читать</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О персонажах</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Объявления и новости</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О книге</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Отзывы</a></li>
              </ul>
            </div>
      
            <!-- <div class="col-6 col-md-2 mb-3">
              <h5>Банда навсегда</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Читать</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О персонажах</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Объявления и новости</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О книге</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Отзывы</a></li>
              </ul>
            </div> -->
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Об авторе</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Биография</a></li>
                <li class="nav-item mb-2"><form action="https://t.me/priklucheniyaX" class="nav-link p-0 text-body-secondary">Телеграмм </form></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Вконтакте</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Дискорд</a></li>
                <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li> -->
              </ul>
            </div>
      
            <!-- <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="email" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div> -->
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2025 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Instagram"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Facebook"><svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>

     
{%endblock%}